<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  
  <parameter name="UserName" value="Pawan"></parameter>
  <parameter name="Password" value="Pawan@1234"></parameter>
  
  <groups>
  <run>
  
  <!-- <include name="smoke"></include> -->//TestNGGrouping
  <!--<exclude> name="smoke"></exclude> -->//TestNGGrouping
  
  </run>
  </groups>
    <classes>
     <!-- <class name="SeleniumTestingOct.SeleniumTesting.TestNGGrouping"/> -->//TestNGGrouping
      <class name="SeleniumTestingOct.SeleniumTesting.TestNGParameterization"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
